NEXT_PUBLIC_WHATSAPP_PORTAL_READ_API_URL=https://n8n.raunaktech.site/webhook/whatsapp-portal/threads
NEXT_PUBLIC_WHATSAPP_PORTAL_ACTION_API_URL=https://n8n.raunaktech.site/webhook/whatsapp-portal/action
